/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    padding: 0;
    margin: 0;
}

/*Agregamos margenes inferiores a los parrafos*/
p {
    margin-bottom: 20px;
}

body {

    background-image: url("https://img.freepik.com/free-vector/white-gold-hexagon-pattern-background_53876-100894.jpg?w=740&t=st=1729165921~exp=1729166521~hmac=45da08c860213088efd5a6527f1dc52079712648b7faf7c19bae131eb62b0008");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Barar de inicio */
.navbar {
    display: flex;
    width: 100%;
    background-color: rgb(109, 109, 104);
    border-style:none;
    position: fixed; /* Hace que la barra esté fija en la pantalla */
}
.navbar-lista{
    list-style: none;
    display: flex   
}
.nav-item{
    display: flex;
    border: 1px solid rgb(247, 246, 246); /* Ajusta el grosor, estilo y color del borde */
    padding: 10px; /* Espacio interno para mejorar el aspecto */
    margin: 0.5px ; /* Espacio entre elementos */

}
.nav-link{
    text-decoration: none;
}
/* fin barra inicio */

/* contenedor general donde van TODAS LAS SECCIONES*/
.container-general{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    border-color: rgb(245, 7, 7);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

#banner-principal{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-color: rgb(245, 7, 213);
    border-width: 1px;
    border-style: solid;    
    width: 100%;
}   

#presentacion{

    display: flex;
    border-color: rgb(84, 160, 179);
    border-width: 1px;
    border-style: solid;
    width: 100%;
}
.box-titulo-seccion{

    display: flex;
    flex-direction:column;
    text-align: center;
    border-color: rgb(104, 30, 153);
    border-width: 1px;
    border-style: solid;
    width: 100%;
}

#productos{

    display: flex;
    border-color: rgb(84, 160, 179);
    border-width: 1px;
    border-style: solid;
    width: 100%;

}
#info-miel{

    display: flex;

    border-color: rgb(228, 38, 13);
    border-width: 1px;
    border-style: solid;
    width: 100%;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    gap:10px;
    border-color: rgb(228, 38, 13);
    border-width: 1px;
    border-style: solid;
}
.card{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 1 1 200px; /* Permite que la tarjeta se redimensione, con un tamaño mínimo de 300px */
    border-color: rgb(161, 29, 150);
    border-width: 1px;
    border-style: solid;
    width: 80%;
}
.card-img-arriba {

    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    max-width: 90%;
    max-height: 250px;

}
.card-cuerpo{

    display: flex;
    flex-direction: column;
    flex-wrap:  nowrap;
    align-items: center;
    border-color: rgb(122, 179, 84);
    border-width: 1px;
    border-style: solid;
}
.card-title{
    padding: 10px;
    text-align: center;
}
.card-texto{

    width: 90%;
    text-align: center;
    
}

.imagen-circulo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
} 
.tarjeta-circulo-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgb(74, 65, 199);
    border-width: 1px;
    border-style: solid;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}


.product-gallery {
    display: grid;
    gap: 10px; /* Espacio entre imágenes */
    grid-template-areas: 
      "main main"
      "thumb1 thumb2"
      "thumb3 thumb4";
    grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  }
  
  .product-main {
    grid-area: main;
  }
  
  .product-thumbnail:nth-child(2) { grid-area: thumb1; }
  .product-thumbnail:nth-child(3) { grid-area: thumb2; }
  .product-thumbnail:nth-child(4) { grid-area: thumb3; }
  .product-thumbnail:nth-child(5) { grid-area: thumb4; }
  
  .product-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados para cada imagen */
    object-fit: cover;
  }
  .container-footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-color: rgb(122, 179, 84);
    border-width: 1px;
    border-style: solid;
  }
  #caja-footer{
    display: flex;
    flex: 1 1 200px; /* Permite que la tarjeta se redimensione, con un tamaño mínimo de 300px */
    border-color: rgb(122, 179, 84);
    border-width: 1px;
    border-style: solid;
  }






















  /* Ajustes para pantallas más grandes */
  @media (min-width: 768px) {
    .product-gallery {
      grid-template-areas: 
        "main main thumb1 thumb2"
        "main main thumb3 thumb4";
      grid-template-columns: 2fr 1fr 1fr 1fr; /* Imagen principal más grande */
    }
  }




















/* Extra small devices (600px and down) */

@media only screen and (max-width: 600px) {

    .card-container {
        flex-direction: column;
        align-items: center;
     } /* Centrar las tarjetas en pantallas pequeñas */
    /* #beneficios-miel {
        flex-wrap: wrap;
    } */

    /* .container-fluid {background: red;} */

}

/* Small devices (600px and up) */

@media only screen and (min-width: 600px) {

    /* .contacontainer-fluidiner {background: green;} */

}

/* Medium devices (768px and up) */

@media only screen and (min-width: 768px) {

    /* .container-fluid {background: blue;} */

}

/* Large devices (992px and up) */

@media only screen and (min-width: 992px) {

    /* .container-fluid {background: orange;} */

}

/* Extra large devices (1200px and up) */

@media only screen and (min-width: 1200px) {

    /* .container-fluid {background: pink;} */

}