/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    padding: 0;
    margin: 0;
}

/*Agregamos margenes inferiores a los parrafos*/
p {
    margin-bottom: 20px;
}

body {

    
    background-image: url("https://img.freepik.com/free-vector/white-gold-hexagon-pattern-background_53876-100894.jpg?w=740&t=st=1729165921~exp=1729166521~hmac=45da08c860213088efd5a6527f1dc52079712648b7faf7c19bae131eb62b0008");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Barar de inicio */
.navbar {
    display: flex;
    background-color: rgb(109, 109, 104);
    border-style:none;
}
.navbar-lista{
    list-style: none;
    display: flex   
}
.nav-item{
    display: flex;
    border: 1px solid rgb(247, 246, 246); /* Ajusta el grosor, estilo y color del borde */
    padding: 10px; /* Espacio interno para mejorar el aspecto */
    margin: 0.5px ; /* Espacio entre elementos */

}
.nav-link{
    text-decoration: none;
}
/* fin barra inicio */

/* contenedor general donde van TODAS LAS SECCIONES*/
.container-general{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    border-color: rgb(245, 7, 7);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

#banner-principal{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    border-color: rgb(245, 7, 213);
    border-width: 1px;
    border-style: solid;    
    width: 100%;
}   

#presentacion{

    display: flex;
    border-color: rgb(84, 160, 179);
    border-width: 1px;
    border-style: solid;
    width: 100%;
}
.box-titulo-seccion{

    display: flex;
    flex-direction:column;
    text-align: center;
    border-color: rgb(104, 30, 153);
    border-width: 1px;
    border-style: solid;
    width: 100%;
}

#productos{

    display: flex;
    border-color: rgb(84, 160, 179);
    border-width: 1px;
    border-style: solid;
    width: 100%;

}
#info-miel{

    display: flex;

    border-color: rgb(228, 38, 13);
    border-width: 1px;
    border-style: solid;
    width: 100%;
}
.card-container{
    display: flex;
    flex-direction: row;
    padding:10px;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 10px;
   
}
.card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-color: rgb(84, 160, 179);
    border-width: 1px;
    border-style: solid;
    width: 20%;
}
.card-img-arriba {
    align-self: center;
    height: 300px;
}
.card-cuerpo{

    display: flex;
    flex-direction: column;

}
.card-title{

    text-align: center;
}
.card-texto{

    width: 100%;
    text-align: center;;
    
}
/* .titulo-seccion h2 {

    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 15px;

} */
 /* .box-presentacion {

    display: flex;    
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    border-color: rgb(27, 160, 138);
    border-width: 1px;
    border-style: solid;
    padding: 10px; 
} */

/* .presentacion-titulo {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-color: rgb(74, 65, 199);
    border-width: 1px;
    border-style: solid;
} */
/* 
.presentacion-texto {

    display: flex;
    flex-wrap: wrap;
    border-color: rgb(74, 65, 199);
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}



.titulo-beneficio {
    display: flex;

}

.card-img-top {
    align-self: center;
    height: 300px;
}

/* Card beneficios miel */
/* #beneficios-miel {

    display: flex;
}

.tarjeta-circulo-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: rgb(74, 65, 199);
    border-width: 1px;
    border-style: solid;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

.imagen-circulo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
} */

/* #box-presentacion p {
    background-color: aliceblue;
    text-align: center;
} */

/* #banner-principal {
    display: flex;
    width: 100%;
    padding-top: 1px;
    border-color: rgb(74, 65, 199);
    border-width: 1px;
    border-style: solid;
    justify-content: center;
    align-items: center;
} */




/* Extra small devices (600px and down) */

@media only screen and (max-width: 600px) {


    /* #beneficios-miel {
        flex-wrap: wrap;
    } */

    /* .container-fluid {background: red;} */

}

/* Small devices (600px and up) */

@media only screen and (min-width: 600px) {

    /* .contacontainer-fluidiner {background: green;} */

}

/* Medium devices (768px and up) */

@media only screen and (min-width: 768px) {

    /* .container-fluid {background: blue;} */

}

/* Large devices (992px and up) */

@media only screen and (min-width: 992px) {

    /* .container-fluid {background: orange;} */

}

/* Extra large devices (1200px and up) */

@media only screen and (min-width: 1200px) {

    /* .container-fluid {background: pink;} */

}